.field {
    display: flex;
    flex-direction: column;

    &__label {
        margin-bottom: 1rem;
        font-size: large;

    }

    &__input {
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        padding: 1rem;
        font-size: inherit;
    }
}
