.general-content {
    &__bottom {
      padding: 2rem 0;
    }
    &__box-container {
      background-color: var(--white);
      margin: 3rem;
      border: solid 1px var(--light-color);
      border-radius: .3125rem;
      padding: 4rem;
      box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
    &__button {
      background-color: var(--orange);
      display: inline-block;
      border-radius: 0.5rem;
      color: #fff;
      font-size: 1.8rem;
      cursor: pointer;
      text-transform: capitalize;
      padding: 1rem 3rem;
      text-align: center;
      margin-top: 1rem;
    }
    &__h2 {
      color: var(--black);
      padding: 1rem 0;
      font-size: large;
    }
    &__heading {
      color: var(--black);
      padding: 1rem 0;
      font-size: x-large;
    }
    &__p {
      color: var(--black);
      font-size: large;
      padding: 1rem 0;
    }
    &__title {
      color: var(--black);
      font-size: large;
      padding: 1rem 0;
      font-weight: bold;
    }
    &__resources {
      border-top: solid 1px var(--light-color);
      border-bottom: solid 1px var(--light-color);
      padding: 2rem 0;
    }
    &__ul {
      padding: 0 3rem;
      color: var(--black);
      font-size: medium;
      list-style: none;
      li {
        padding: .5rem 0;
      }
    }
    &__ul li:before {
      content: '✓ ';
    }
  }
  